* {
    box-sizing: border-box;
}

body {
    background-color: #A89968;
}

#header,
#footer,
#sidebar,
#content,
#pageList {
    padding: 20px;
}

#container {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #041E42;
    color: #ffffff;
}

#footer {
    width: 100%;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #041E42;
    color: #ffffff;
}

#sidebar {
    width: 200px;
    background-color: #A89968;
}

#content {
    width: 100%;
    background-color: #FFF7E9;
}

#pageList {
    width: 100%;
    background-image: url('website_images/full_disk_image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 10px;
    text-align: center;
}

#pageList a,
#sidebar a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #041E42;
    margin-bottom: 10px;
    padding: 5px;
    border: 3px solid #FFF7E9;
}

#pageList a:hover,
#sidebar a:hover {
    text-decoration: underline;
    background-color: #004C9D;
}

#pageList a {
    font-size: 25px;
}

/* Dropdown Button */
.dropbtn {
    color: #ffffff;
    background-color: #041E42;
    padding: 5px;
    border: 3px solid #FFF7E9;
    width: 100%;
}

.dropdownContainer {
    margin-bottom: 10px;
    width: 100%;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    text-decoration: underline;
    background-color: #004C9D;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-bottom: 10px;
}

/* Buttons inside the dropdown */
.dropdown-content button {
    color: #ffffff;
    background-color: #041E42;
    padding: 5px;
    border: 3px solid #FFF7E9;
    display: block;
    width: 100%;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {
    text-decoration: underline;
    background-color: #004C9D;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}