* {
    box-sizing: border-box;
}

body {
    background-color: #d5e6e1;
}

#header,
#footer,
#sidebar,
#content {
    padding: 20px;
}

#container {
    display: flex;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #79ac9c;
}

#footer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #79ac9c;
}

#sidebar {
    width: 200px;
    background-color: #91d0bc;
}

#content {
    width: 600px;
    background-color: #ffffff;

}

#sidebar a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: #124b3b;
    margin-bottom: 10px;
    padding: 5px;
    border-left: 5px solid #ffffff;
}

#sidebar a:hover {
    text-decoration: underline;
    background-color: #03805c;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}